<ng-template #deleted>
  <div *ngIf="deleteSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    Horse <span class="font-weight-bold">{{ deletedHorseName }}</span> was successfully deleted!
  </div>
</ng-template>

<ng-template [ngIf]="!delete" [ngIfElse]="deleted">
<ul *ngIf="family">
  <li *ngFor="let node of family">
<span *ngIf="node.name!=null" class="list-group-item d-flex justify-content-between">
  <span>
    <button class="toggle" (click)="toggleParents()">
      <span *ngIf="show" class="badge badge-pill">-</span>
      <span *ngIf="!show" class="badge badge-pill">+</span>
    </button>
    <a class="name" routerLink="/detail/{{node.id}}">{{ node.name }}</a>
  </span>
  <span>
    <span>{{node.birthday}}</span>
    <span><button (click)="onDelete(node)" class="btn btn-sm btn-outline-danger" type="button">
          Delete
      </button></span>
  </span>
</span>
    <p *ngIf="show">
      <app-family-node *ngIf="node.mother" [family]="node.mother"></app-family-node>
    </p>
    <p *ngIf="show">
      <app-family-node *ngIf="node.father" [family]="node.father"></app-family-node>
    </p>
  </li>
</ul>
</ng-template>

