<ul *ngIf="family">
  <li *ngFor="let node of family">
    <span *ngIf="node.parent1 != null || node.parent2 != null "><b></b></span>
    <button (click)="toggleParents()">
      <span class="list-group-item d-flex justify-content-between">
        <span class="d-flex align-items-center">
          <span><strong>{{node.name}}</strong></span>
        </span>
        <span>{{node.birthday}}</span>
        <span *ngIf="show">
          <app-family-node *ngIf="node.parent1" [family]="node.parent1"></app-family-node>
        </span>
        <span *ngIf="show">
          <app-family-node *ngIf="node.parent2" [family]="node.parent2"></app-family-node>
        </span>
      </span>
    </button>
  </li>
</ul>


