a{
  font-weight: bold;
  color: black;
}
li{
  border: none;
}

div.modal-dialog-centered{
  margin: 0 auto;
  width: 30%;
}
form{
  font-size: medium;
}
ul{
  list-style-type: none;
}
form{
  padding-right: 2em;
}
