<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
</div>

<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  Sport <span class="font-weight-bold">{{ sport.name }}</span> was successfully added!
</div>

<form (ngSubmit)="onAdd()">
  <div>
    <h1>Add a new Sport:</h1>
  </div>
  <div>
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name"/>
      </li>
      <li>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" class="form-control" [(ngModel)]="description"/>
      </li>
      <li>
        <input type="submit" value="Add" class="btn btn-primary" />
      </li>
    </ul>
  </div>
</form>
