<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
</div>

<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  Sport <span class="font-weight-bold">{{ sport.name }}</span> was successfully added!
</div>

<div *ngIf="router.url === '/sports'">
  <div *ngIf="sports.length == 0"><h2>There are currently no sports saved in our database</h2></div>
  <div *ngIf="sports.length > 0"><h1>All our sports:</h1>
    <app-sport-individual *ngFor="let sport of sports" [sport]="sport"></app-sport-individual>
  </div>
</div>

<div *ngIf="router.url === '/sports/add'">
<form (ngSubmit)="onAdd()">
  <div>
    <h1>Add a new Sport:</h1>
  </div>
  <div>
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name"/>
      </li>
      <li>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" class="form-control" [(ngModel)]="description"/>
      </li>
      <li>
        <input type="submit" value="Add" class="btn btn-primary" />
      </li>
    </ul>
  </div>
</form>
</div>
