/* You can add global styles to this file, and also import other style files */
ul{
  list-style-type: none;
}
form{
  padding-right: 2em;
}
label{
  margin: 0 !important;
}
input{
  margin-bottom: 0.5rem !important;
}
.btn-primary{
  margin-top: 0.5rem;
}
h2{
  padding: 2rem;
}
h1{
  padding-bottom: 2rem;
}
a.name{
  font-weight: bold;
  color: black;
  text-decoration: none !important;
}
button.toggle {
  background: transparent;
  box-shadow: 0 0 0 transparent;
  border: 0 solid transparent;
  text-shadow: 0 0 0 transparent;
  margin-right: 5px;
  font-weight: bold;
  padding: 0;
}

