span.female{
  background-color: lightpink;
}
span.male{
  background-color: lightblue;
}
strong{
  font-size: xx-large;
}
button.link{
  padding: 0;
  border: none;
}
span.badge{
  margin-left: 0.8em;
}
app-individual{
  font-size: xx-large;
}
